/* Dashboard.css */

.dashboard-container {
  display: flex;
  max-width: 1200px; /* Adjust the maximum width as needed */
  margin: 20px auto; /* Add margin for centering */
}

.left-column {
  flex: 1;
  overflow-y: auto; /* Enable vertical scroll for the list */
  padding: 5vw;
  background-color: #f0f0f0; /* Add your desired background color */
}

.right-column {
  flex: 2;
  padding: 20vw;
  background-color: #ffffff; /* Add your desired background color */
}

.left-column li {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.left-column li:hover {
  background-color: #e0e0e0;
}

@media (max-width: 100%) {
  .dashboard-container {
    flex-direction: row;
  }

  .left-column, .right-column {
    max-width: 100%;
    width: 10vw;
  }
}
