

  .embed {
    position:relative;
    text-align:justify;
    display: flex;
    top: 10%;
    right: 0%
  }
  #row1 {
    position:absolute;
    padding: 10px;
    width: 1200px;
    height: 50px;
    background-color: rgb(14, 14, 14)

  }
  #row2 {
    position:absolute;
    padding: 10px;
    width: 1200px;
    height: 40px;
    background-color: rgb(14, 14, 14)

  }
  .research {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 20%;
    color: rgb(227, 231, 249);
  }

  #box1 {
    padding: 10px;
    width: 800px;
  }

  #box2 {
    padding: 8px;
    width: 800px;
    height: 200px;
    display: flex;
    left: 20%;


  }

  #box3 {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

  }
  .inner-box {
    position:absolute;
    top: 35%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 300px;
    background-color: #121212;
    border-radius: 15px;
  }
  
  .also-inner-box {
    position:absolute;
    top: 35%;
    right: 20%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    background-color: #121212;
    border-radius: 15px;
  }
  .interests {
    position: absolute;
    text-align: left;
    top: 40%;
    left: 30%;
    color: rgb(227, 231, 249);
  }

  .research:hover {
    filter: drop-shadow(0 0 1em hsla(0, 0%, 100%, 0.667));
  }
 
  .editbutton {
    font-size: 10px;
    padding: "0px";
    height: "0px";
    position: absolute;
    top: 100%;
    text-align: left;
  }
 
 
  .profheading {
    position: absolute;
    top:8%;
    left:42%;
    display: flex;
    color: rgb(218, 221, 233);
 }
 
 
 .Name {
    position:absolute;
    top: 50%;
    left: 30%;
    display: flex;
    font-size: 25px;
    color: rgb(234, 237, 248);
 }
 
 .Other_Details {
    position:absolute;
    top: 60%;
    left: 30%;
    display: flex;
    font-size: 15px;
    color: rgb(234, 237, 248);
 }
  .imagecrop {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
    bottom: 55%;
    left:30%;
    display: flex;
  }

  .text {
    width: 100px;
    height: 100px;
  }
 
  .imagecrop img {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
  }
   .profpic {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
 