#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .post {
    position: absolute;
    text-align: left;
    top: 22%;
    left: 20%;
  }

  .description {

  }

  .title {
    
  }

  .heading {
    margin-top: -75%;
    text-align: center;
  }