/* app.css */

/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
}

/* Navbar styles */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Optional: Add styles for active link */
a.active {
  color: yellow;
}

/* Optional: Style for dropdown menu */
ul.dropdown {
  position: relative;
}

li.dropdown-item {
  position: relative;
}

ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
}

li:hover > ul.dropdown-menu {
  display: block;
}

/* Main content styles */
div#root {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #9b74ce;
  width: 100%; /* Ensure full width of the container */
}

/* Additional styling for individual pages (adjust as needed) */
div#root > div {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
