/* app.css */



body {
  font-family: 'Helvetica', sans-serif;
  display: flex;
  justify-content:stretch; /* Center content horizontally */
  align-items:stretch; /* Center content vertically */
  height: 100vh; /* Full viewport height */

  margin: 0; /* Remove default margin */
  padding: 0;
}

/* Navbar styles */

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Optional: Add styles for active link */
a.active {
  color: yellow;
}

/* Optional: Style for dropdown menu */
ul.dropdown {
  position: relative;
}

li.dropdown-item {
  position: relative;
}

ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
}

li:hover > ul.dropdown-menu {
  display: block;
}

/* Main content styles */
div#root {
  margin-top: 0px;
  padding: 0px;
  margin: 0;
  background-color: #434047;
  width: 100%; /* Ensure full width of the container */
}

/* Additional styling for individual pages (adjust as needed) */

