/* nav.css */

body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #181719;
  padding: 2vw;
  position: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 7vw;
}

.navbar ul li:hover {
  text-shadow: 0.5vh 1vh 1vh #8528e2;
}

.navbar ul {
  list-style-type: none;
  padding: 2vh;
  display: flex;
  flex-direction: column
  
}

li {
  font-size: 1vw;
} 

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Optional: Add styles for active link */
a.active {
  color: yellow;
}

/* Optional: Style for dropdown menu */
ul.dropdown {
  position: relative;
}

li.dropdown-item {
  position: relative;
}

ul.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #a61212;
  padding: 2vw;
}

li:hover > ul.dropdown-menu {
  display: block;
}

.log-out{
  bottom: 3%;
  position: absolute;
}